* {

    margin: 0;
    padding: 0;

}

body {
    font-family: 'Gantari', sans-serif;
}

/* header secttion*/
.header-section {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.header-item {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-section h1 {
    padding-left: 500px;
    padding-right: 500px;
    color: #fff;
    font-size: 38px;
}

#heading-item {
    padding-top: 150px;
    padding-bottom: 20px;
}

.header-section p {
    padding-left: 350px;
    padding-right: 350px;
    margin-bottom: 50px;
    color: #fff;
}

.botton-style {
    text-decoration: none;
    background-color: #FF7F50;
    padding: 12px 24px;
    color: #fff;
    border-radius: 5px;
}

/* donate today section*/
.donate-heading {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.donate-heading h2 {
    font-size: 50px;
    padding: 20px;
}

.donate-heading p {
    padding-left: 350px;
    padding-right: 350px;
}

.donate-amaount {
    display: flex;
    justify-content: center;
}

.donate-amaount {
    text-align: center;
    font-weight: bold;
}

.first-amaount {
    padding: 30px;
    background: rgb(240, 236, 236);
    margin: 10px;
    border-radius: 2px;
}

#second-amaount {
    border: 2px solid red;
    color: red;
}

.input-form {
    text-align: center;
}

.input-form input {
    padding: 5px 280px;
    margin: 50px;
    outline: none;
    border: 0px solid;
    border-bottom: 1px solid #000;
}

#center-button {
    margin-left: 45%;
}

/* donate paln setion*/
.donate-plan-section-heading h3 {
    font-size: 50px;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

.donate-plan-p {
    padding-left: 350px;
    padding-right: 350px;
}

.donate-plan-section {
    display: flex;
    margin-left: 15%;
    margin-top: 50px;
    padding: 30px;

}

.donate-plan-item-one {
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    margin: 0 10px;
    background-color: aliceblue;
}

.donate-plan-item-tow {
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    margin: 0 10px;
    background-color: pink;
}

.donate-plan-item-three {
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    margin: 0 10px;
    background-color: rgb(226, 176, 226);
}

.donate-plan-item img {
    padding-bottom: 9px;
}

.donate-plan-item h4 {
    padding-bottom: 40px;
    font-size: 20px;
}

/*donate section oftional*/

.donate-section-oftional {
    display: flex;
    margin-left: 140px;
    margin-top: 70px;
    padding: 10px;
}

.doante-section-oftional-frist {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin-right: 10px;
    background: rgb(240, 235, 235);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(230, 226, 226);
}

.doante-section-oftional-seceond {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin-left: 10px;
    background: rgb(235, 226, 226);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(230, 226, 226);
}

.donate-style {
    width: 500px;
    height: 300px;
    padding-bottom: 40px;
    border-radius: 5px;
}

.doante-section-oftional-frist h5 {
    font-size: 22px;
    padding-bottom: 13px;
}

.doante-section-oftional-seceond h5 {
    font-size: 22px;
    padding-bottom: 13px;
}

/* update section*/

.update-section {
    text-align: center;
    padding: 100px;
}

.contact {
    padding-top: 20px;
    background-color: bisque;
    margin: 50px 100px;
}

.contact input {
    padding: 11px 11px;
    background: rgb(190, 186, 186);
    outline: none;
    border: 0px solid;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.subscribe-button {
    text-decoration: none;
    padding: 8px 20px;
    background: #FF7F50;
    margin-top: 50px;
    margin-bottom: 60px;
    color: #fff;
}

.update-section-heading h2 {
    font-size: 40px;
}

/* footer section*/
.footer-section {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 60px;
}

.footer-section h3 {
    font-size: 50px;
    color: #FF7F50;
    padding-bottom: 10px;
}